// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-tomorrow.css'

.bespoke-parent
  letter-spacing: 1.2px


h1
  max-width 660px

ol li
  list-style decimal
  padding-left 0
  margin-left 20px
  &:before
    content ''

.bespoke-slide > ul
  margin-left 15px
  margin-top 5px

ul li
  list-style inherit
  padding-left 0px
  margin-bottom 14px
  &:before
    content ''
    padding 0
    padding-right 0
    margin: 0

ul li li:first-child
  margin-top 0

ul li li
  margin-top 14px


ul, ol
  text-align left

ul
  width 660px
  -webkit-margin-before: 0em;
  -webkit-margin-after: .8em;
  -webkit-margin-end: 15px;
  -webkit-padding-start: 30px;

ul li ul
  width 630px
  -webkit-margin-before: 0.35em;
  -webkit-margin-after: 0em;
  -webkit-margin-end: 15px;
  -webkit-padding-start: 30px;

ul li ul li ul
  width 600px



.lang-sh, .lang-bash
  outline 1px solid cream

.bespoke-slide
  justify-content inherit
  transition none

.section-title, .title-page, .image-no-title
  justify-content center

a
 color lightblue
 border none

[class*='command-']
  pre
    border 1px solid white
    width 402px
    padding-top: 5px
    text-align left
    padding-left 10px
    margin-top 8px
    padding-bottom 3px
    white-space pre-line
  pre:last-of-type
    margin-bottom 14px
  ul
    flex 0 0 40%

pre.language-javascript
  padding 0
  margin 0
  margin-bottom .25em
  border 1px solid lightblue



.code
  pre
    margin-top 2.5%
    padding 10px
    line-height 1.4
    code
      line-height 1


.code-bullets
  pre
    width 402px
    border 1px solid lightblue
    padding 0 0.25em


.multiline-command-bullets
  ul
    flex 0 0 20%
